
* {
    margin: 0;
    padding: 0;
    
}
html, body {
    height: 100%;

}
.container {
    min-height: 100% ;

    margin: 0 auto; 
}
.main {
    overflow:auto;
    padding-bottom: 100px;
    background-image: url(../sky.png);
    height:1200px;
}
.footer {
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    height: 120px;
    margin-top:-100px;
    text-decoration: none;
    clear:both;
}
p {
    text-align: center;
    text-size-adjust: 80%;
}

#sail {
    border-style: solid;
    position: absolute;
    right: 300px;
    top: 274px;
}
#strange {
    border-style: solid;
    position:absolute;
    left:250px;
    top: 275px;
}
#chunky {
    border-style: solid;
    position: absolute;
    bottom:-200px;
    left:250px;
}
#trophy {
    border-style: solid;
    position: absolute;
    bottom: -200px;
    right: 300px;
}
.title {
    background-color: black;
    text-align: center;
    height: 75px;
    margin: auto;
    font-size: 55px;
    color: skyblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#more {
    text-align: center;
    color:black;
    position: absolute;
    top: 240px;
    left:350px;
    background-color: floralwhite;
    outline: black solid 5px;
    font-family:sans-serif;
    font-size: 20px;
}
.start {
    background: white;
    height: 100px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#menu {
    background-color: black;
}
