

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    margin: auto;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: skyblue;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.subtitle {

    background-color: black;
    color: beige;
    position: relative;
    margin: auto;
    text-align: center;
    background-position: center;
    font-size: 15px;
    font-family: cursive;
}

table {
    text-align: center;
    position: absolute;
    margin: auto;

    /*border-spacing: 40px;*/
}


th,caption {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

caption {
    background: black;
    color: white;
}

